
*{
	margin:0px;
	padding:0px;
}

/*=====Header start=====*/

.header{
	width:100%;
	height:70px;
}

.wrapper{
	width:80%;
	margin: auto;
	overflow:hidden;
	background: #FFFFFF;
}
.logo{
	width:20%;
	float:left;
}
.menu{
	width:70%;
	float:left;
}
.menu ul{
	text-align: right;
	margin-top: 20px;
}
.menu ul li{
	display: inline-block;
}
.menu ul li a{
	text-decoration: none;
	padding:15px;
	color:black;

}
.menu ul li a:hover{
	background: green;
}

/*========Header end=======*/


/*========Banner start=======*/

.banner{
	width:100%;
	height:400px;
	background-image: url(../images/banner3.jpg);
	webkit-background-size:cover;
 	background-size:cover;
 	background-position: center center;
 	position:relative;
}
.wrapper-bnr{
	width:80%;
	height:100%;
	margin:auto;
}
.banner-content{
	width:20%;
	height:190px;
	margin-top: 120px;
	position:absolute;
	color:#fff;
	background: rgba(0,0,0,.5);
	border-radius:2px;
}
.banner-content p{
	margin-top: 10px;
	margin-left:20px;
}

.banner-content button{
	margin-left:20px;
	background: rgba(0,0,0,.5);
	border:0px;
	padding:5px 15px;
	border-radius:3px;
	color:#A8A8A8;

}

/*========Banner end=======*/

/*========service start=======*/

.service{
	width:100%;
	height:350px;
}
.wrapper-srv{
	width:80%;
	height:100%;
	margin: auto;
	overflow:hidden;
	position: relative;
}
.service1{
	width:30%;
	height:;
	float:left;
	margin-top: 50px;
}
.service2{
	width:30%;
	height:;
	float:left;
	margin-top: 50px;
}
.service3{
	width:30%;
	height:;
	float:left;
	margin-top: 50px;
}
.wrapper-srv h1{
	margin-left: 40px;
	color:#A8A8A8;

}
.wrapper-srv img{
	width:80%;
	height:80px;
	border:1px groove green;
	margin-top: 5px;
}
.wrapper-srv p{
	width:80%;
	text-align: justify;
	margin-top: 20px;
	color:#A8A8A8;

}
.wrapper-srv button{
	margin-top: 30px;
	padding:5px 18px;
	margin-left: 80px;
	background: #3A5779;
	border:0px;
	border-radius:2px;
	color:#A8A8A8;
}

/*========service end=======*/

/*========footer start=======*/
.footer{
	width:100%;
	height:150px;
	background: #;
}
.wrapper-ftr{
	width:80%;
	height:100%;
	margin:auto;
	text-align: center;
}
.footer-content{
	color: #A8A8A8;
	font-size: 15px;
}

.footer-icon ul li{
	margin-top: 5px;
	display: inline-block;
	padding:7px;
	font-size: 40px;
}
.footer-icon ul li:nth-child(1){
	color:#4D66A3;
}
.footer-icon ul li:nth-child(2){
	color:#21A3D7;
}
.footer-icon ul li:nth-child(3){
	color:#DE462F;
}
.footer-icon ul li:nth-child(4){
	color:#F7A121;
}




/*========foooter end=======*/

